<div class="container-xxl d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card bg-white" style="margin-top: 2rem; align-items: center; width: 100%; max-width: 500px;">
      <div class="card-body" style="padding: 8vh;">
        <h2>Login</h2>
        <form [formGroup]="frm" (ngSubmit)="login()" *ngIf="!userNotFound">
          <div class="row">
            <div class="col-12" *ngIf="!firstLogin">
              <div class="row">
                <label class="col-12 col-form-label" for="txtUsername">Digite seu Usuário:</label>
                <div class="col-12">
                  <input id="txtUsername" type="text" formControlName="username" class="form-control"
                         [class.is-invalid]="this.frm.get('username')?.invalid && (this.frm.get('username')?.dirty || this.frm.get('username')?.touched)" />
                  <div class="invalid-feedback">Preenchimento obrigatório!</div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-12">
              <div>
                <label class="col-form-label" for="txtPassword">Digite sua Senha </label>
                <div>
                  <input id="txtPassword" type="password" formControlName="password" class="form-control"
                         [class.is-invalid]="this.frm.get('password')?.invalid && (this.frm.get('password')?.dirty || this.frm.get('password')?.touched)" />
                  <div class="invalid-feedback">Preenchimento obrigatório!</div>
                </div>
              </div>
              <div class="row" style="justify-content: center;">
                <div *ngIf="contValidaUser > 0" style="color: red;">Usuário ou senha incorretos, tente novamente!</div>
                <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 2rem; width:45%; margin-right: 2px;">Logar</button>
                <button class="btn btn-primary btn-lg" style="margin-top: 2rem; width:45%; margin-left: 2px;" (click)="criarUser()">Criar Conta</button>
              </div>
            </div>
          </div>
        </form>
  
        <div *ngIf="userNotFound">
          <h2>Usuário não foi cadastrado no sistema</h2>
          <button type="button" class="btn btn-outline-danger" (click)="voltar()">Voltar</button>
        </div>
  
        <div class="text-center" style="margin-top: 2rem;">
          <button type="button" class="btn btn-outline-dark btn-sm" (click)="home()">Entrar sem Login</button>
        </div>
      </div>
    </div>
  </div>
  